[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	uncommit = reset --soft HEAD^
	branches = branch -a
	stashes = stash list
	amend = commit --amend
	new = checkout -b
	rename = branch -m
	force = push --force-with-lease
	apply = "!sh -c 'git stash apply stash@{$1}' -"

[push]
	autoSetupRemote = true
